@font-face {
    font-family: para;
    src:url(./Fonts/Font1/woff2/broted-young-plant-broted-young-plant-medium-500.woff2)
}
@font-face {
    font-family: title;
    src: url("{{ url_for('static', filename='Fonts/aileron.italic.otf') }}");
}
@font-face {
    font-family: btfont ;
    src: url(./Fonts/Font2/Quicksand_Light.otf);
    }
@keyframes float{
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0, -0px); } 
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-cursor{
    from, to { border-color: transparent }
    10% { border-color: black; }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes slide1 {
    0% {transform: translate(0px,0px);}
    50%{transform: translate(335px,0px);}
    100%{transform: translate(-0px,0px);}
    
}
@keyframes slide2{
    0% {transform: translate(0px,0px);}
    50% {transform: translate(-305px,0px);}
    100% {transform: translate(0px,0px);}
}
@keyframes spin1 {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
    
}
@keyframes zoom-out {
    0% {transform: scale3d(20px,20px);}
    100% {transform: scale3d(20px,20px);}
}
@keyframes bounce {
    0%
    {transform: scale(1,1) translateY(0);}
    10%{
        transform: scale(1.1,0.9) translateY(0);
    }
    30%{
        transform: scale(1,1) translateY(-6rem);
    }
    50%{
        transform: scale(1,1) translateY(0);
    }
    
}
@font-face {
    font-family: tagline;
    src: url(./Fonts/aileron.thin-italic.otf);
}
@font-face {
    font-family: inp;
    src: url(./Fonts/Font2/Quicksand_Bold.otf);
}
@font-face {
    font-family: selct;
    src: url(./Fonts/Font2/RobotoCondensed-BoldItalic.ttf);
}
@font-face {
    font-family: restxt;
    src: url(./Fonts/Font2/RobotoCondensed-Light.ttf);
}
@font-face {
    font-family: restit;
    src: url(./Fonts/Font1/JosefinSans-Bold.ttf);
}
body,html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url('./img_pool/IntroBack.png');
}
#Titles{
    display: flex;
    justify-content: space-around;
}
#Titles img{
    src: url(D:\Projects\ProductConclusior\Conclusior\static\img_pool\0_P75Qkj2ZVRTQxPig-removebg-preview.png);
    margin-top: 10px;
    margin-right: 100px;
}
.buttons{
    border-color: B7E0FF;
    margin: 15px 25px 15px 25px;
    background-color: beige;
    width: 170px;
    height: 40px;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    display: flex;
}
.buttons .acc1{
    border: 1px;
    width: 170px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(90deg, #ffecb3, #ffc107);
    font-family: title;
    font-size: 20px;

}
.buttons .acc1:hover{
    background:linear-gradient(90deg, #ffca28, #ffa000);;
}  
.NavBar h3{
    margin-right: 950px;
    float: left;
    font-family: title;
    font-size: 25px;

}
.intro{
    top:0;
    padding: 0;
    height: 600px;
    border: 1px solid black;
}
.intro pre{
    font-family:para;
    margin: 90px 10px 200px;
    font-size: 20px;
}
.intro img{
    margin: 50px 50px 0px 0px;
    height: 250px;
    width: 350px;
}
.tag{
    height: 100px;
    margin-top: 500px;
}
.tag h3{
   margin-left:420px;
   font-size: 24px;
   font-family: tagline ;
   animation: typing 4.7s steps(40, end),blink-cursor 0.75s infinite ease-in-out;
}
.tag hr{
    margin-left:320px;
    margin-right: 230px;
    stroke-width: 10px;
    color: black;
}
.NavBar{
    height: 70px;
    background: linear-gradient(90deg, #b2ebf2, #80deea, #4dd0e1);
    border-bottom: none;
    margin: 0;
    padding: 0;
    position: relative;
    top:0;
    display: flex;
    
}
hr{
    margin:0;
}
.Content{
    margin-left: 150px;
    height: 500px;
    width: 1200px;
    border-radius: 20px;
    margin-top: 140px;
    margin-bottom: 200px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(173, 216, 230, 0.5));
}
.Content h4{
    text-align: center;

}
.Content h2{
    font-size: 28px;
    font-weight: bold;
    margin-left: 180px;
    color: #000;
    font-family: inp;

}
.Content input::placeholder{
    font-weight: bold;

}
.join{
    height: 50px;
    margin: 130px 180px 60px 250px;
    width: 780px;
    background-color: #e3f7e8;
    border-radius: 30px ;
}
.Content input{
    height: 50px;
    width: 670px;
    border-radius: 30px;
    border: 1px solid #e3f7e8;
    font-size: large;
    cursor: col-resize;
    background-color: e3f7e8;
}
.Content select{
    border: 0px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    background-color: #E0E4E8;
    font-weight: bold;
    font-family: selct;
}
.Content select option{
    color: #2b3a36;
    font-weight: bold;

}
.Content select{
    position: absolute;
}
.Content .search{
    margin: 20px 500px 0px 530px;
    height: 40px;
    width: 150px;
    font-family: btfont;
    color: black;
    border-radius: 30px;
    background-color: #a4d4ae; 
    font-size: 20px;
    font-weight: bold;
}
.Content .search:hover{
    background-color: #8bbf98;
}
.Result{
    top: 0;
    padding: 0;
    height: 900px;
    border-top: 1px solid black;
}
.Result h2{
    text-underline-position: left;
    text-align: center;
    font-size: 29px;
    margin: 0px 0px 50px 40px;
    font-family: restit;
    color: black;
    padding: 5px 10px;
    border-radius: 8px;
}
.Emotions{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 150px;
    height: 150px;
    margin: 100px 1000px 60px 80px;
}
.result{
    border-radius: 31px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.Emotions #neu{
    height: 130px;
    width: 158px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 200px;
    animation-name: spin1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
 
}
.Emotions #happy{
    
    height: 125px;
    width: 155px;
    animation-name: slide1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.Emotions #sad{
    height: 125px;
    width: 185px;
    padding-right: 250px;
    margin-bottom: 70px;
    animation-name: slide2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.footer{
    height: 400px;
}
#res-sad,#res-happy,#res-neu{
    height: 125px;
    width: 185px;
}

.result img{
    margin-bottom: 40px;
    width: 170px;
    height: 185px;
    margin-top: 80px;
    animation: bounce ease 1.5s infinite;
    display: inline-block;
}
.res-data{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    width:600px
}
.res-data h3{
    background-color: #2b3a36;
    border-radius: 40px;
}
.loader{    
   
    border: 1px solid;
    width: 900px;
    background: beige;
    height: 500px;
    margin: 0px 200px 10px 220px;
    border-radius: 31px;
    background: linear-gradient(to bottom right, rgba(255, 183, 183, 0.9), rgba(255, 223, 186, 0.9));
}
.result h3{
    background: linear-gradient(to right, rgba(255, 102, 102, 1), rgba(255, 178, 102, 1));
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 0px;
    font-size: 25px;
    font-family: restxt;
    animation: typing 4.7s steps(40, end), blink-cursor 0.75s infinite ease-in-out;
}
.result h4{
    font-size: 20px;
    background-color: #4dd0e1;
    font-family: tagline;
    margin-bottom: 10px ;
}