<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='Homepage.css') }}">
        <body>
            <div class="NavBar">
                <div class="Titles">
                    <img src="{{ url_for('static', filename='img_pool/Logo.png') }}" height="45px" style="float: left; margin: 20px 0px 10px 0;"/>
                    <h3>Product Conclusior</h3>
                </div>
                <div class="buttons">
                <button class="acc1" id="sec1" onclick="location.href='#sec2'">Move to Find</button>
            </div>
            <br><br><br><br><br><br><br>
            </div>
            <div class="intro">
        <pre style="float: left;">
        Ever wonder if that shiny new gadget is as great as it looks, or 
        if the reviews are full of hidden tears? 
        Paste a product link from any e-commerce site, and 
        let us fetch the juicy details. 
        We'll dive deep into the reviews 
        so you don't have to and reveal whether you're buying-
        a dream or a disaster (with a smile or a facepalm).</pre>
                <img src="{{ url_for('static', filename='img_pool/Intro.png') }}" height="200px" style="float: right; margin-bottom: 150px;">
                <div class="tag">
                    <h3>Sentiments served straight to your screen, no emotional baggage attached !</h3>
                    <hr>
                </div>
            </div>
            <hr id="sec2">
            <div class="Content">
                <form method="POST">
                <h2><br><br><br>With just one click, you’ll uncover everything about your product !</h2>
                <div class="join">
                <input type="text" name="user_input" placeholder="    Paste product link" id="user_input">
                <select name="type">
                    <option name="type">E-commerce</option>
                    <option name="type">Social Media</option>
                </select>  
            </div>
            <button class="search" onclick="location.href='#sec3'" type="submit">Emote</button>
                <h2></h2>
            </form>
            </div>
            
            <div class="Result">
                <hr id="sec3">
                <br><br><br><br><br>
                <h2>See what the reviews say about your product !</h2>
                <div class="loader">
                    {% if not val %}
                    <div class="Emotions">
                    <img src="{{ url_for('static', filename='img_pool/Happy.png') }}" id="happy">
                    <img src="{{ url_for('static', filename='img_pool/neutral-face.png') }}" id="neu">
                    <img src="{{ url_for('static', filename='img_pool/Sad.png') }}" id="sad">
                    </div>
                    <h5>Your results will be displayed here !</h5>

                    {% elif val %}
                    {% if sentiment=="Positive" %}
                    <div class="result">
                    <img src="{{ url_for('static', filename='img_pool/Happy.png') }}">
                        
                        <h3>People are loving this product !</h3>
                        <h4>What they're feeling the most:</h4>
                        <h2>{{data}} </h2>
                        
                    {% elif sentiment=="Negative"%}
                    <img src="{{ url_for('static', filename='img_pool/Sad.png') }}">
                    
                    <h3>Looks like people aren't happy with this</h3>
                    <h4>What they're feeling the most:</h4>  
                    <h2>{{data}}</h2>  
                    </div>                
                    {% elif sentiment=="Neutral" %}
                    <img src="{{ url_for('static', filename='img_pool/neutral-face.png') }}">
                    
                    <h3>Mixed feelings about this product</h3>
                    <h4>What they're feeling the most:</h4> 
                    <h2> {{data}} </h2>
                    </div>
                    {% elif val==18 or sentiment=="Neutral" %}
                    <img src="{{ url_for('static', filename='img_pool/neutral-face.png') }}">
                    <h3>No reviews to show right now</h3>
                    <h4>What they're feeling the most:</h4>
                    <h2>  {{data}}   </h2>  
                </div>
                    {% endif %}
                {% endif %}
            </div>
                </div>
            </div>
                
                <div class="footer">
                    <div class="copy">
                        <h2>© 2024 Copyright Product Conclusior</h2>
                    </div>
                    
                </div>
            </div>
        </link>

        </body>
    </head>